<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="b">
<div class="container text-center">
    <h3>Appointment Details:</h3>
  <table class="table table-borderless" *ngFor="let val of appointment">
   
      <tr>
        <th>Name</th>
        <td>Ak</td>
       
      </tr>
    
 
      <tr>
        <th>Date of appointment</th>
        <td>24/11/2019</td>
       
      </tr>
      <tr>
        <th>Time</th>
        <td>9:15 am</td>
       
      </tr>
      <tr>
        <th>Doctor_details</th>
        <td>9:15 am</td>
       
      </tr>
     
    
  </table>
</div>
</div>